*{
	margin: 0px;
	padding: 0px;
}

html{
  scroll-behavior: smooth;
}

/* index */
		.carousel-inner img {
     		width: 1300px;
      		height: 760px;
 		}

 		#zoom:hover{
 			-webkit-transform: scaleX(-1);
  			transform: scaleX(-1);
 		}	

 		#link:hover{
 			font-size: 25px;
 		}
		nav ul a:hover{
	color: #ec4141;
}

#ic1 img{
 width:150px;
 height:100px;
	
}
.carousel img{
	width:1100;
	height:600;
	
	
}

/* weight loss */
#plan:hover{
			text-decoration: underline;
			color:#ec4141; 
		}

		#zoom:hover{
 			-webkit-transform: scaleX(-1);
  			transform: scaleX(-1);
 		}
		.DietPlan1{
		height:475px;
		}
		.DietPlan{
		height:475px;
		}

.cont img{
	height:320;
	width:720;
	
	
}
.DietPlan{
	border:3px solid  #ec4141;
	border-radius: 20px;
	padding: 15px 5px 5px 5px;
	
}
.Dietplan img{
	height:300px;
	width:450px;
	border-radius: 20px;
	
	
}


footer{
	width: 100%;
	height: 60px;
	color: white;
	display: flex;
	justify-content:space-around;
	margin: auto;
}

footer h4{
	text-align: center;
	font-size: 20px;
	padding-top: 17px;
}

.Quicklink{
	background: #f2f2f2;
	width: 100%;
	color: black;
	display: flex;
	justify-content:space-around;
	margin: auto;
}

.Quicklink a{
	color:black;
	line-height: 32px;
	font-size: 18px;
	text-decoration: none;
}

.Quicklink a:hover{
	text-decoration: underline;
}

.btn{
	background: #ec4141;
	
}


